[submodule "templates/dotnet-template"]
	path = templates/dotnet-template
	url = git@github.com:devantler-tech/dotnet-template.git
	branch = main
[submodule "github/devantler-tech/.github-public"]
	path = github/devantler-tech/.github-public
	url = git@github.com:devantler-tech/.github.git
	branch = main
[submodule "github/devantler-tech/github-actions/actions"]
	path = github/devantler-tech/github-actions/actions
	url = git@github.com:devantler-tech/actions.git
	branch = main
[submodule "github/personal/.github-public"]
	path = github/personal/.github-public
	url = git@github.com:devantler/.github.git
	branch = main
[submodule "github/personal/profile"]
	path = github/personal/profile
	url = git@github.com:devantler/devantler.git
	branch = main
[submodule "platform"]
	path = platform
	url = git@github.com:devantler-tech/platform.git
	branch = main
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = git@github.com:devantler-tech/homebrew-tap.git
	branch = main
[submodule "templates/go-template"]
	path = templates/go-template
	url = git@github.com:devantler-tech/go-template.git
	branch = main
[submodule "applications/ksail"]
	path = applications/ksail
	url = git@github.com:devantler-tech/ksail.git
	branch = main
[submodule "github/devantler-tech/maintenance"]
	path = github/devantler-tech/maintenance
	url = git@github.com:devantler-tech/maintenance.git
	branch = main
[submodule "applications/wedding-app"]
	path = applications/wedding-app
	url = git@github.com:devantler-tech/wedding-app.git
	branch = main
[submodule "applications/ascoachingogvaner"]
	path = applications/ascoachingogvaner
	url = git@github.com:devantler-tech/ascoachingogvaner.git
	branch = main
[submodule "libraries/agent-skills"]
	path = libraries/agent-skills
	url = git@github.com:devantler-tech/agent-skills.git
	branch = main
[submodule "libraries/agent-plugins"]
	path = libraries/agent-plugins
	url = git@github.com:devantler-tech/agent-plugins.git
	branch = main
[submodule "templates/gitops-tenant-template"]
	path = templates/gitops-tenant-template
	url = git@github.com:devantler-tech/gitops-tenant-template.git
	branch = main
[submodule "templates/platform-template"]
	path = templates/platform-template
	url = git@github.com:devantler-tech/platform-template.git
	branch = main
[submodule "applications/unifi"]
	path = applications/unifi
	url = git@github.com:devantler-tech/unifi.git
	branch = main
[submodule "applications/fleet-gitops"]
	path = applications/fleet-gitops
	url = git@github.com:devantler-tech/fleet-gitops.git
	branch = main
[submodule "libraries/provider-upjet-unifi"]
	path = libraries/provider-upjet-unifi
	url = git@github.com:devantler-tech/provider-upjet-unifi.git
	branch = main
[submodule "applications/world-at-ruin"]
	path = applications/world-at-ruin
	url = git@github.com:devantler-tech/world-at-ruin.git
	branch = main
[submodule "libraries/kyverno-policies"]
	path = libraries/kyverno-policies
	url = git@github.com:devantler-tech/kyverno-policies.git
	branch = main
