[submodule "github/profile"]
	path = github/profile
	url = git@github.com:devantler/devantler.git
	branch = main
[submodule "github/config"]
	path = github/config
	url = git@github.com:devantler/.github.git
	branch = main
[submodule "projects/ksail"]
	path = projects/ksail
	url = git@github.com:devantler/ksail.git
	branch = main
[submodule "projects/dotnet-commons"]
	path = projects/dotnet-commons
	url = git@github.com:devantler/dotnet-commons.git
	branch = main
[submodule "projects/homelab"]
	path = projects/homelab
	url = git@github.com:devantler/homelab.git
	branch = main
[submodule "projects/data-product"]
	path = projects/data-product
	url = git@github.com:devantler/data-product.git
	branch = main
[submodule "projects/pandoc-plus"]
	path = projects/pandoc-plus
	url = git@github.com:devantler/pandoc-plus
	branch = main
[submodule "libraries/dotnet-template-engine"]
	path = libraries/dotnet-template-engine
	url = git@github.com:devantler/dotnet-template-engine.git
	branch = main
[submodule "libraries/dotnet-k3d-cli"]
	path = libraries/dotnet-k3d-cli
	url = git@github.com:devantler/dotnet-k3d-cli.git
	branch = main
[submodule "libraries/dotnet-sops-cli"]
	path = libraries/dotnet-sops-cli
	url = git@github.com:devantler/dotnet-sops-cli.git
	branch = main
[submodule "libraries/dotnet-age-cli"]
	path = libraries/dotnet-age-cli
	url = git@github.com:devantler/dotnet-age-cli.git
	branch = main
[submodule "libraries/dotnet-flux-cli"]
	path = libraries/dotnet-flux-cli
	url = git@github.com:devantler/dotnet-flux-cli.git
	branch = main
[submodule "libraries/dotnet-k9s-cli"]
	path = libraries/dotnet-k9s-cli
	url = git@github.com:devantler/dotnet-k9s-cli.git
	branch = main
[submodule "libraries/dotnet-kind-cli"]
	path = libraries/dotnet-kind-cli
	url = git@github.com:devantler/dotnet-kind-cli.git
	branch = main
[submodule "libraries/dotnet-kubeconform-cli"]
	path = libraries/dotnet-kubeconform-cli
	url = git@github.com:devantler/dotnet-kubeconform-cli.git
	branch = main
[submodule "libraries/dotnet-kustomize-cli"]
	path = libraries/dotnet-kustomize-cli
	url = git@github.com:devantler/dotnet-kustomize-cli.git
	branch = main
[submodule "libraries/dotnet-kubernetes-generator"]
	path = libraries/dotnet-kubernetes-generator
	url = git@github.com:devantler/dotnet-kubernetes-generator.git
	branch = main
[submodule "templates/dotnet-template"]
	path = templates/dotnet-template
	url = git@github.com:devantler/dotnet-template.git
	branch = main
[submodule "libraries/dotnet-cli-runner"]
	path = libraries/dotnet-cli-runner
	url = https://github.com/devantler/dotnet-cli-runner
	branch = main
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:devantler/dotfiles.git
	branch = main
[submodule "libraries/dotnet-secrets-manager"]
	path = libraries/dotnet-key-manager
	url = git@github.com:devantler/dotnet-key-manager.git
	branch = main
[submodule "libraries/dotnet-keys"]
	path = libraries/dotnet-keys
	url = git@github.com:devantler/dotnet-keys.git
	branch = main
[submodule "libraries/dotnet-kubernetes-resource-provisioner"]
	path = libraries/dotnet-kubernetes-provisioner
	url = git@github.com:devantler/dotnet-kubernetes-provisioner.git
	branch = main
[submodule "github/roadmap"]
	path = github/issue-tracker
	url = git@github.com:devantler/issue-tracker.git
	branch = main
[submodule "libraries/dotnet-container-engine-provisioner"]
	path = libraries/dotnet-container-engine-provisioner
	url = git@github.com:devantler/dotnet-container-engine-provisioner.git
	branch = main
